<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" href="./styles/styles.css">
    <script type="text/javascript">
        $(document).ready(() => {

            $("#form").submit((event) => {
                event.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '/login',
                    data: $('#form').serialize(),
                    dataType: "json",
                    success: (response) => {
                        $('#form')[0].reset();

                        document.getElementById("check").innerHTML = response.Success;
                        //ADD THIS CODE
                        setTimeout(() => {
                            document.getElementById("check").innerHTML = "";
                        }, 3000);
                        if (response.Success == "Success!") {
                            document.getElementById("aa").click();
                        };
                    },
                    error: () => {}
                })
            });

        });
    </script>
</head>

<body>
    <!--  <div class="container">
        <h1 class="mb-4">Blog Articles</h1>
        <% articles.forEach(article => { %>
        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title"><%= article.title %></h4>
                <div class="card-subtitle text-muted mb-2">
                    <%= article.createdAt.toLocaleDateString() %>
                </div>
                <div class="card-text mb-2"><%= article.description %></div>

            </div>
        </div>
        <% }) %>
    </div>

    <div class="col-md-4 col-md-offset-4 form-card">
        <div>
            <p>Login</p>
        </div>
        <div class="form-group ">
            <form id="form" method="post">
                <input type="text" name="email"
                    pattern="[-!#$%&'*+\/0-9=?ก-๙A-Z^_a-z`{|}~](\.?[-!#$%&'*+\/0-9=?ก-๙A-Z^_a-z`{|}~])*@[ก-๙a-zA-Z0-9](-*\.?[ก-๙a-zA-Z0-9])*\.[ก-๙a-zA-Z](-?[ก-๙a-zA-Z0-9])+$"
                    placeholder="E-mail" required="" class="form-control"><br />
                <input type="password" name="password" placeholder="Password" required="" class="form-control"><br />
                <input type="submit" value="Login" class="btn btn-success">
            </form>
        </div>
        <div class="mssg bg-danger">
            <span id="check"></span>
        </div>
        <div id="LangTable"><a href="/posts" id="aa"></a>
        </div>
        <div><span>Do you forgot password? </span><a href="/forgetpass">click here</a>
        </div>
        <div id="LangTable"><span>Do you want to register a new Account? </span><a href="/register">click here</a>
        </div>
    </div> -->


    <nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
            <div class="flex items-center justify-between">
                <div class="flex items-center justify-start">
                    <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar"
                        aria-controls="logo-sidebar" type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                        <span class="sr-only">Open sidebar</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" fill-rule="evenodd"
                                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                            </path>
                        </svg>
                    </button>
                    <a href="/" class="flex ml-2 md:mr-24">
                        <span
                            class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">Blog</span>
                    </a>
                </div>

            </div>
        </div>
    </nav>
    <aside id="logo-sidebar"
        class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
        aria-label="Sidebar">
        <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
            <ul class="space-y-2">
                <li>
                    <a href="/"
                        class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <span class="ml-3">Home</span>
                    </a>
                </li>
              <!--   <li>
                    <a href="/"
                        class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <span class="flex-1 ml-3 whitespace-nowrap">Blog</span>
                    </a>
                </li> -->
                <li>
                    <a href="/login"
                        class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                        <span class="flex-1 ml-3 whitespace-nowrap">Login</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <div class="p-4 sm:ml-64">
        <section>
            <div class="max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 m-auto">
                <div class="grid grid-cols-1 gap-y-8  lg:items-center lg:gap-x-16  m-auto">

                    <div class="grid grid-cols-2 gap-4 sm:grid-cols-3">
                        <% articles.forEach(article => { %>
                        <div class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring">
                            <div class="card-body">
                                <h4 class="mt-2 font-bold"><%= article.title %></h4>
                                <div class="card-subtitle text-muted mb-2">
                                    <%= article.createdAt.toLocaleDateString() %>
                                </div>
                                <div class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600"><%= article.description %></div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </section>

    </div>



</body>

</html>